# Arrays
numpy

# Dataframes
pandas

# Visualization
matplotlib
seaborn

# Downloading
gdown
conan

# Jupyter
jupyter
jupyter-server-proxy
jupyterlab-nvidia-nsight
jupyterlab-execute-time

# NVIDIA devtools
nsightful[notebook] @ git+https://github.com/brycelelbach/nsightful.git

# Testing
pytest
