# NVMATH + CTK 13.1 + CCCL + cublas
nvmath-python[dx]==0.8.*
cuda-core[cu13]
cuda-toolkit[cccl,nvrtc,cublas]==13.1.*
nvidia-libmathdx-cu13 >=0.3.1,<0.4.0
cuda-cccl[cu13]

# Scientific
numpy
scipy
ssgetpy
cupy-cuda13x

# Visualization
matplotlib

# Jupyter
jupyterlab
jupyterlab-nvidia-nsight
jupyterlab-execute-time
ipywidgets
ipykernel

# MPI
mpi4py
