# Scientific
numpy
scipy
ssgetpy
cupy-cuda13x

nvmath-python[cu13-distributed,cu13-dx,cpu]

# Visualization
matplotlib

# Dark mode detection
jupyter-dark-detect == 0.1.0

# Jupyter
jupyter-server-proxy
jupyterlab
jupyterlab-nvidia-nsight
jupyterlab-execute-time
ipywidgets
ipykernel
ipyparallel
nbdistributed

# MPI
openmpi
mpi4py
