# Pin NVIDIA library versions to match PyTorch requirements from
# pytorch:2.12.1-cuda13.2-cudnn9-runtime image.
cuda-toolkit==13.2.*
nvidia-cublas==13.4.0.1
nvidia-nvshmem-cu13==3.4.5
nvidia-cuda-nvrtc==13.2.*
nvidia-nvjitlink==13.2.*

# Scientific
numpy
scipy
ssgetpy
cupy-cuda13x

nvmath-python[cu13-distributed,cu13-dx,cpu]

# Visualization
matplotlib

# Dark mode detection
jupyter-dark-detect == 0.1.0

# Jupyter
jupyter-server-proxy
jupyterlab
jupyterlab-nvidia-nsight
jupyterlab-execute-time
ipywidgets
ipykernel
ipyparallel
nbdistributed

# MPI
openmpi
mpi4py
