# Arrays
numpy

# Scientific/numeric
scipy
matplotlib
opencv-python-headless

# Jupyter
jupyter
jupyterlab
jupyterlab-nvidia-nsight
jupyterlab-execute-time

# CUDA
cuda-tile
cuda-python == 13.*
cupy-cuda13x == 13.6.0
numba-cuda[cu13] == 0.20.0
nvmath-python[cu13]
cuda-cccl[test-cu13]

# NVIDIA developer tools
nvtx
nsightful[notebook] @ git+https://github.com/brycelelbach/nsightful.git

# Distributed computing
mpi4py

# Testing
pytest
