# Visualization
matplotlib

# Dark mode detection
jupyter-dark-detect == 0.1.0

# Jupyter
jupyter
jupyter-server-proxy
jupyterlab-nvidia-nsight
jupyterlab-execute-time

# NVIDIA devtools
nsightful[notebook] @ git+https://github.com/brycelelbach/nsightful.git
