# Visualization
matplotlib

# Jupyter
jupyter
jupyter-server-proxy
jupyterlab-nvidia-nsight
jupyterlab-execute-time

# NVIDIA devtools
nsightful[notebook] @ git+https://github.com/brycelelbach/nsightful.git
