# Warp
warp-lang

# Arrays
numpy

# Scientific/numeric
scipy

# Visualization
matplotlib
ipympl
Pillow

# Dark mode detection
jupyter-dark-detect == 0.1.0

# Jupyter
jupyter
jupyter-server-proxy
jupyterlab
jupyterlab-execute-time
