# Arrays
numpy

# Scientific/numeric
scipy
matplotlib
opencv-python-headless

# Jupyter
jupyter
jupyterlab
jupyterlab-nvidia-nsight

# CUDA
cuda-python # cuda.{core, bindings}
numba-cuda
nvmath-python[cu12]
cupy-cuda12x
cuda-cccl[test-cu12]

# NVIDIA devtools
nvtx
nsightful[notebook] @ git+https://github.com/brycelelbach/nsightful.git

# Distributed computing
mpi4py
